.head {
  height: 10vh;
  width: 100%;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  text-justify: center;
  align-items: center;
  padding: 0 5vw 0 5vw;
}

.page {
  color: white;
}

.activePage {
  color: lime;
}

.bar {
  background-color: grey;
  width: 5vw;
  height: 1vh;
  align-self: flex-start;
  margin-top: 2vh;
  border-radius: 25%;
}

.activeBar {
  background: lime;
  width: 5vw;
  height: 1vh;
  align-self: flex-start;
  margin-top: 2vh;
  border-radius: 25%;
}
